@@include('header.html', {"title": "train"})
    <div class="xz-body-title">培训编辑</div>
    <div class="xz-body-edit train-edit">
      <div class="edit-table">
        <div class="edit-table-left">
          <table border="0" cellpadding="0" cellspacing="0">
            <colgroup>
              <col width="80" style="">
              <col width="440">
            </colgroup>
            <tr>
              <td>培训类型</td>
              <td>合伙人-业务培训（审计）</td>
            </tr>
            <tr>
              <td>培训名称</td>
              <td><input type="text" id="title"></td>
            </tr>
            <tr>
              <td>主讲人</td>
              <td><input type="text"></td>
            </tr>
            <tr>
              <td>培训日期</td>
              <td>
                <div class="train-date">
                  <div class="train-date-input"><input type="date" value="2018-10-01" max="2020-01-01" min="2017-01-01"></div>
                  <div>至</div>
                  <div class="train-date-input"><input type="date" value="2019-05-01" max="2020-01-01" min="2017-01-01"></div>
                </div>
              </td>
            </tr>
            <tr>
              <td>培训类型</td>
              <td><input type="radio" name="traintype"> 线上 &nbsp;&nbsp;<input type="radio" name="traintype"> 线下</td>
            </tr>
            <tr>
              <td>线下地址</td>
              <td><textarea></textarea></td>
            </tr>
            <tr>
              <td>培训附件</td>
              <td><input type="file" id="file1" onchange="file1span.innerText=this.value"> <input type="button" value="选择" onclick="file1.click();"> <span id="file1span"></span> <input type="button" value="上传" id="file1upload"></td>
            </tr>
            <tr>
              <td>封面图片</td>
              <td><input type="file" id="file2" onchange="file2span.innerText=this.value"> <input type="button" value="选择" onclick="file2.click();"> <span id="file2span"></span> <input type="button" value="上传" id="file2upload"></td>
            </tr>
          </table>
        </div>
        <div class="edit-table-right">
          <table border="0" cellpadding="0" cellspacing="0">
            <colgroup>
              <col width="80">
              <col width="440">
            </colgroup>
            <tr>
              <td>直播地址</td>
              <td><textarea></textarea></td>
            </tr>
            <tr>
              <td>点播地址</td>
              <td><textarea></textarea></td>
            </tr>
            <tr>
              <td>培训内容</td>
              <td><textarea></textarea></td>
            </tr>
          </table>

        </div>
        <div class="edit-table-bottom">
          <input type="button" value="显示/隐藏">
          <input type="button" value="保存">
        </div>
        <div class="clearfix"></div>
      </div>
    </div>

@@include('footer.html', {"title": "home"})
