@@include('header.html', {"title": "sign"})
    <div class="xz-body-title">签到管理</div>
    <div class="xz-body-search">
      <div class="xz-body-search-in">
        <div class="xz-body-search-text"><input type="text" placeholder="搜索标题"></div>
        <div class="xz-body-search-btn">搜索</div>
        <div class="xz-body-search-remark">共计 66 个培训</div>
      </div>
    </div>
    <div class="xz-body-list-tag">
      <div class="list-tag">
        <div class="list-tag-row train-type">
          <ul>
            <li><a href="#">新建签到页</a></li>
            <li><a href="#">导出选择数据</a></li>
          </ul>
          <div class="train-date">
            <div>培训日期</div>
            <div class="train-date-input"><input type="date" value="2018-10-01" max="2020-01-01" min="2017-01-01"></div>
            <div>至</div>
            <div class="train-date-input"><input type="date" value="2019-05-01" max="2020-01-01" min="2017-01-01"></div>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
      <div class="clearfix"></div>

    </div>
    <div class="xz-body-list-table">
      <div class="list-table">
        <table border="0" cellpadding="0" cellspacing="0">
          <thead>
          <tr>
            <th><a href="#" class="all-check-btn">全选</a></th>
            <th>培训名称</th>
            <th>培训日期</th>
            <th>签到人数</th>
            <th>操作</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td><input type="checkbox" name="ck"></td>
            <td>阿发萨芬大厦的发生地方昂奋</td>
            <td>2018-1-2</td>
            <td>66</td>
            <td><a href="#">编辑</a> <a href="#">签到记录</a> <a href="#">签到二维码</a> <a href="#">导出记录</a></td>
          </tr>
          <tr>
            <td><input type="checkbox" name="ck"></td>
            <td>阿发萨芬大厦的发生地方昂奋</td>
            <td>2018-1-2</td>
            <td>66</td>
            <td><a href="#">编辑</a> <a href="#">签到记录</a> <a href="#">签到二维码</a> <a href="#">导出记录</a></td>
          </tr>
          <tr>
            <td><input type="checkbox" name="ck"></td>
            <td>阿发萨芬大厦的发生地方昂奋</td>
            <td>2018-1-2</td>
            <td>66</td>
            <td><a href="#">编辑</a> <a href="#">签到记录</a> <a href="#">签到二维码</a> <a href="#">导出记录</a></td>
          </tr>
          <tr>
            <td><input type="checkbox" name="ck"></td>
            <td>阿发萨芬大厦的发生地方昂奋</td>
            <td>2018-1-2</td>
            <td>66</td>
            <td><a href="#">编辑</a> <a href="#">签到记录</a> <a href="#">签到二维码</a> <a href="#">导出记录</a></td>
          </tr>
          <tr>
            <td><input type="checkbox" name="ck"></td>
            <td>阿发萨芬大厦的发生地方昂奋</td>
            <td>2018-1-2</td>
            <td>66</td>
            <td><a href="#">编辑</a> <a href="#">签到记录</a> <a href="#">签到二维码</a> <a href="#">导出记录</a></td>
          </tr>
          <tr>
            <td><input type="checkbox" name="ck"></td>
            <td>阿发萨芬大厦的发生地方昂奋</td>
            <td>2018-1-2</td>
            <td>66</td>
            <td><a href="#">编辑</a> <a href="#">签到记录</a> <a href="#">签到二维码</a> <a href="#">导出记录</a></td>
          </tr>
          <tr>
            <td><input type="checkbox" name="ck"></td>
            <td>阿发萨芬大厦的发生地方昂奋</td>
            <td>2018-1-2</td>
            <td>66</td>
            <td><a href="#">编辑</a> <a href="#">签到记录</a> <a href="#">签到二维码</a> <a href="#">导出记录</a></td>
          </tr>
          <tr>
            <td><input type="checkbox" name="ck"></td>
            <td>阿发萨芬大厦的发生地方昂奋</td>
            <td>2018-1-2</td>
            <td>66</td>
            <td><a href="#">编辑</a> <a href="#">签到记录</a> <a href="#">签到二维码</a> <a href="#">导出记录</a></td>
          </tr>
          <tr>
            <td><input type="checkbox" name="ck"></td>
            <td>阿发萨芬大厦的发生地方昂奋</td>
            <td>2018-1-2</td>
            <td>66</td>
            <td><a href="#">编辑</a> <a href="#">签到记录</a> <a href="#">签到二维码</a> <a href="#">导出记录</a></td>
          </tr>


          </tbody>



        </table>
      </div>
    </div>
@@include('footer.html', {"title": "home"})
