@@include('header.html', {"title": "sign"})
    <div class="xz-body-title sign-record">
      <div>信永中和集团贯彻落实十九大报告学习交流会--直播记录</div>
      <div>
        <div><a href="#">导出签到记录</a></div>
        <div>共计66个培训</div>

      </div>
    </div>
    <div class="xz-body-list-table sign-record">
      <div class="list-table">
        <table border="0" cellpadding="0" cellspacing="0">
          <thead>
          <tr>
            <th>序号</th>
            <th>员工ID</th>
            <th>姓名</th>
            <th>公司</th>
            <th>部门</th>
            <th>职位</th>
            <th>员工组</th>
            <th>签到时间（上）</th>
            <th>签到时间（下）</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>12</td>
            <td>33344</td>
            <td>安德</td>
            <td>线上</td>
            <td>信息部</td>
            <td>信息专员</td>
            <td>第二组</td>
            <td>2016-01-02 12:18</td>
            <td>2016-01-02 12:18</td>
          </tr>
          <tr>
            <td>12</td>
            <td>33344</td>
            <td>安德</td>
            <td>线上</td>
            <td>信息部</td>
            <td>信息专员</td>
            <td>第二组</td>
            <td>2016-01-02 12:18</td>
            <td>2016-01-02 12:18</td>
          </tr>
          <tr>
            <td>12</td>
            <td>33344</td>
            <td>安德</td>
            <td>线上</td>
            <td>信息部</td>
            <td>信息专员</td>
            <td>第二组</td>
            <td>2016-01-02 12:18</td>
            <td>2016-01-02 12:18</td>
          </tr>
          <tr>
            <td>12</td>
            <td>33344</td>
            <td>安德</td>
            <td>线上</td>
            <td>信息部</td>
            <td>信息专员</td>
            <td>第二组</td>
            <td>2016-01-02 12:18</td>
            <td>2016-01-02 12:18</td>
          </tr>
          <tr>
            <td>12</td>
            <td>33344</td>
            <td>安德</td>
            <td>线上</td>
            <td>信息部</td>
            <td>信息专员</td>
            <td>第二组</td>
            <td>2016-01-02 12:18</td>
            <td>2016-01-02 12:18</td>
          </tr>
          <tr>
            <td>12</td>
            <td>33344</td>
            <td>安德</td>
            <td>线上</td>
            <td>信息部</td>
            <td>信息专员</td>
            <td>第二组</td>
            <td>2016-01-02 12:18</td>
            <td>2016-01-02 12:18</td>
          </tr>
          <tr>
            <td>12</td>
            <td>33344</td>
            <td>安德</td>
            <td>线上</td>
            <td>信息部</td>
            <td>信息专员</td>
            <td>第二组</td>
            <td>2016-01-02 12:18</td>
            <td>2016-01-02 12:18</td>
          </tr>
          <tr>
            <td>12</td>
            <td>33344</td>
            <td>安德</td>
            <td>线上</td>
            <td>信息部</td>
            <td>信息专员</td>
            <td>第二组</td>
            <td>2016-01-02 12:18</td>
            <td>2016-01-02 12:18</td>
          </tr>
          <tr>
            <td>12</td>
            <td>33344</td>
            <td>安德</td>
            <td>线上</td>
            <td>信息部</td>
            <td>信息专员</td>
            <td>第二组</td>
            <td>2016-01-02 12:18</td>
            <td>2016-01-02 12:18</td>
          </tr>

          </tbody>



        </table>
      </div>
    </div>
@@include('footer.html', {"title": "home"})
