@@include('header.html', {"title": "staff"})
    <div class="xz-body-title">员工管理</div>
    <div class="xz-body-search">
      <div class="xz-body-search-in">
        <div class="xz-body-search-text"><input type="text" placeholder="员工ID"></div>
        <div class="xz-body-search-btn">搜索</div>
        <div class="xz-body-search-remark">共计 66 个培训</div>
      </div>
    </div>
    <div class="xz-body-list-table">
  <div class="list-table">
    <table border="0" cellpadding="0" cellspacing="0">
      <thead>
      <tr>
        <th>序号</th>
        <th>员工ID</th>
        <th>姓名</th>
        <th>公司</th>
        <th>部门</th>
        <th>职位</th>
        <th>员工组</th>
        <th>培训数量</th>
        <th>培训总时长</th>
        <th>详情</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>12</td>
        <td>33344</td>
        <td>安德</td>
        <td>线上</td>
        <td>信息部</td>
        <td>信息专员</td>
        <td>第二组</td>
        <td>45</td>
        <td>2小时33分</td>
        <td><a href="#">详情</a></td>
      </tr>
      <tr>
        <td>12</td>
        <td>33344</td>
        <td>安德</td>
        <td>线上</td>
        <td>信息部</td>
        <td>信息专员</td>
        <td>第二组</td>
        <td>45</td>
        <td>2小时33分</td>
        <td><a href="#">详情</a></td>
      </tr>
      <tr>
        <td>12</td>
        <td>33344</td>
        <td>安德</td>
        <td>线上</td>
        <td>信息部</td>
        <td>信息专员</td>
        <td>第二组</td>
        <td>45</td>
        <td>2小时33分</td>
        <td><a href="#">详情</a></td>
      </tr>
      <tr>
        <td>12</td>
        <td>33344</td>
        <td>安德</td>
        <td>线上</td>
        <td>信息部</td>
        <td>信息专员</td>
        <td>第二组</td>
        <td>45</td>
        <td>2小时33分</td>
        <td><a href="#">详情</a></td>
      </tr>
      <tr>
        <td>12</td>
        <td>33344</td>
        <td>安德</td>
        <td>线上</td>
        <td>信息部</td>
        <td>信息专员</td>
        <td>第二组</td>
        <td>45</td>
        <td>2小时33分</td>
        <td><a href="#">详情</a></td>
      </tr>
      <tr>
        <td>12</td>
        <td>33344</td>
        <td>安德</td>
        <td>线上</td>
        <td>信息部</td>
        <td>信息专员</td>
        <td>第二组</td>
        <td>45</td>
        <td>2小时33分</td>
        <td><a href="#">详情</a></td>
      </tr>
      <tr>
        <td>12</td>
        <td>33344</td>
        <td>安德</td>
        <td>线上</td>
        <td>信息部</td>
        <td>信息专员</td>
        <td>第二组</td>
        <td>45</td>
        <td>2小时33分</td>
        <td><a href="#">详情</a></td>
      </tr>
      <tr>
        <td>12</td>
        <td>33344</td>
        <td>安德</td>
        <td>线上</td>
        <td>信息部</td>
        <td>信息专员</td>
        <td>第二组</td>
        <td>45</td>
        <td>2小时33分</td>
        <td><a href="#">详情</a></td>
      </tr>
      <tr>
        <td>12</td>
        <td>33344</td>
        <td>安德</td>
        <td>线上</td>
        <td>信息部</td>
        <td>信息专员</td>
        <td>第二组</td>
        <td>45</td>
        <td>2小时33分</td>
        <td><a href="#">详情</a></td>
      </tr>
      <tr>
        <td>12</td>
        <td>33344</td>
        <td>安德</td>
        <td>线上</td>
        <td>信息部</td>
        <td>信息专员</td>
        <td>第二组</td>
        <td>45</td>
        <td>2小时33分</td>
        <td><a href="#">详情</a></td>
      </tr>
      <tr>
        <td>12</td>
        <td>33344</td>
        <td>安德</td>
        <td>线上</td>
        <td>信息部</td>
        <td>信息专员</td>
        <td>第二组</td>
        <td>45</td>
        <td>2小时33分</td>
        <td><a href="#">详情</a></td>
      </tr>

      </tbody>



    </table>
  </div>
</div>
@@include('footer.html', {"title": "home"})
