@@include('header.html', {"title": "staff"})
    <div class="xz-body-title">员工详情</div>

    <div class="xz-body-detail">
      <div class="detail-table">
        <table>
          <tr>
            <td align="left">员工姓名：XXX111777</td>
            <td align="right">培训数量：66&nbsp;&nbsp;&nbsp;&nbsp;培训总时长：5小时23分</td>
          </tr>
          <tr><td align="left" colspan="2">ID：123123132&nbsp;&nbsp;&nbsp;&nbsp;公司：XXXXXX&nbsp;&nbsp;&nbsp;&nbsp;部门：XXXXXX&nbsp;&nbsp;&nbsp;&nbsp;职位：XXXXXX</td></tr>
        </table>
      </div>
    </div>

    <div class="xz-body-list-table">
      <div class="list-table">
        <table>
          <thead>
          <tr>
            <th>序号</th>
            <th>培训名称</th>
            <th>培训类型</th>
            <th>培训时间</th>
            <th>是否签到</th>
            <th>培训时长</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>12</td>
            <td>阿发萨芬大厦的发生地方昂奋</td>
            <td>线上</td>
            <td>2018-1-2</td>
            <td>是</td>
            <td>1小时44分</td>
          </tr>
          <tr>
            <td>12</td>
            <td>阿发萨芬大厦的发生地方昂奋</td>
            <td>线上</td>
            <td>2018-1-2</td>
            <td>是</td>
            <td>1小时44分</td>
          </tr>
          <tr>
            <td>12</td>
            <td>阿发萨芬大厦的发生地方昂奋</td>
            <td>线上</td>
            <td>2018-1-2</td>
            <td>是</td>
            <td>1小时44分</td>
          </tr>
          <tr>
            <td>12</td>
            <td>阿发萨芬大厦的发生地方昂奋</td>
            <td>线上</td>
            <td>2018-1-2</td>
            <td>是</td>
            <td>1小时44分</td>
          </tr>
          <tr>
            <td>12</td>
            <td>阿发萨芬大厦的发生地方昂奋</td>
            <td>线上</td>
            <td>2018-1-2</td>
            <td>是</td>
            <td>1小时44分</td>
          </tr>
          <tr>
            <td>12</td>
            <td>阿发萨芬大厦的发生地方昂奋</td>
            <td>线上</td>
            <td>2018-1-2</td>
            <td>是</td>
            <td>1小时44分</td>
          </tr>
          <tr>
            <td>12</td>
            <td>阿发萨芬大厦的发生地方昂奋</td>
            <td>线上</td>
            <td>2018-1-2</td>
            <td>是</td>
            <td>1小时44分</td>
          </tr>
          <tr>
            <td>12</td>
            <td>阿发萨芬大厦的发生地方昂奋</td>
            <td>线上</td>
            <td>2018-1-2</td>
            <td>是</td>
            <td>1小时44分</td>
          </tr>
          <tr>
            <td>12</td>
            <td>阿发萨芬大厦的发生地方昂奋</td>
            <td>线上</td>
            <td>2018-1-2</td>
            <td>是</td>
            <td>1小时44分</td>
          </tr>

          </tbody>



        </table>
      </div>
    </div>
@@include('footer.html', {"title": "home"})
