  @@include('header.html', {"title": "home"})
<!--<div class="xz-banner"></div>-->
<div class="xz-body">
  <div class="train-detail">
    <div class="detail-title">
      <div>信永中和集团贯彻落实十九大报告学习交流会1111</div>
      <div>尚未开始</div>
      <div class="clearfix"></div>
    </div>
    <div class="detail-remark">
      <span class="light">合伙人-业务培训（审计）</span>
      <span>主讲人：王军</span>
      <span>地点：国贸三期三层会议厅</span>
      <span>课程日期：2018-3-10 9:00</span>
      <span>课程时间：60分钟</span>
      <span>课件下载：<a href="#">会议PPT</a></span>


    </div>
    <div class="intro-title">课程介绍</div>
    <div class="intro-word">
      课程介绍课程介绍课程介绍课程介绍课程介绍课程介绍课程介绍课程介绍课程介绍课程介绍课程介绍课程介绍课程介绍课程介绍课程介绍课程介绍
    </div>
    <div class="intro-video">
      <video src="http://www.w3school.com.cn/i/movie.ogg" controls="controls" poster="img/video.jpg">
        your browser does not support the video tag
      </video>
    </div>
  </div>


  <div class="clearfix"></div>
</div>
@@include('footer.html', {"title": "home"})
