@@include('header.html', {"title": "home"})
<!--<div class="xz-banner"></div>-->
<div class="xz-body">
  <div class="xz-site-news">
    <div class="news-title">
      <div>最新培训</div>
      <div><a href="#">查看更多最新发布</a></div>
      <div class="clearfix"></div>
    </div>
    <div class="news-list">
      <div class="news-list-item">
        <div class="list-item-img"><img src="img/news-img.jpg" width="365" height="225"></div>
        <div class="list-item-title">信永中和集团贯彻落实十九大 报告学习交流会</div>
        <div class="list-item-intro">
          合伙人-业务培训（审计）
          <br>主讲人：王军
          <br>课程日期：2018-3-10  9:00
        </div>
        <div class="list-item-detail"><a href="#">查看详情</a></div>
      </div>
      <div class="news-list-item">
        <div class="list-item-img"><img src="img/news-img.jpg" width="365" height="225"></div>
        <div class="list-item-title">信永中和集团贯彻落实十九大 报告学习交流会</div>
        <div class="list-item-intro">
          合伙人-业务培训（审计）
          <br>主讲人：王军
          <br>课程日期：2018-3-10  9:00
        </div>
        <div class="list-item-detail"><a href="#">查看详情</a></div>
      </div>
      <div class="news-list-item">
        <div class="list-item-img"><img src="img/news-img.jpg" width="365" height="225"></div>
        <div class="list-item-title">信永中和集团贯彻落实十九大 报告学习交流会</div>
        <div class="list-item-intro">
          合伙人-业务培训（审计）
          <br>主讲人：王军
          <br>课程日期：2018-3-10  9:00
        </div>
        <div class="list-item-detail"><a href="#">查看详情</a></div>
      </div>
      <div class="clearfix"></div>
    </div>

  </div>

  <div class="xz-site-train">
    <div class="train-title">
      <div>精彩点播</div>
      <div><a href="#">2018-01-30    ~   2018-04-10</a></div>
      <div class="clearfix"></div>
    </div>
    <div class="train-type">
      <div>
        <a href="#">合伙人培训</a>
        <a href="#">经理培训</a>
        <a href="#" class="checked">项目经理培训</a>
        <a href="#">业务高务培训</a>
        <a href="#">业务中级培训</a>
        <a href="#">业务初级培训</a>
        <a href="#">新员工培训</a>
      </div>
      <div><a href="#">全部培训</a></div>
      <div class="clearfix"></div>
    </div>
    <div class="train-list">
      <div class="train-list-left">
        <div class="type-list">
          <div class="list-item">
            <a>业务培训审计</a>
            <div class="item-sublist">
              <div class="sublist-item checked"><a href="#">新升合伙人培训</a></div>
              <div class="sublist-item"><a href="#">高管关系掌控</a></div>
              <div class="sublist-item"><a href="#">战略思维</a></div>
              <div class="sublist-item"><a href="#">战略销售</a></div>
            </div>
          </div>
          <div class="list-item checked">
            <a>职场发展</a>
            <div class="item-sublist">
              <div class="sublist-item checked"><a href="#">新升合伙人培训</a></div>
              <div class="sublist-item"><a href="#">高管关系掌控</a></div>
              <div class="sublist-item"><a href="#">战略思维</a></div>
              <div class="sublist-item"><a href="#">战略销售</a></div>
            </div>
          </div>
          <div class="list-item">
            <a>业务培训审计</a>
            <div class="item-sublist">
              <div class="sublist-item checked"><a href="#">新升合伙人培训</a></div>
              <div class="sublist-item"><a href="#">高管关系掌控</a></div>
              <div class="sublist-item"><a href="#">战略思维</a></div>
              <div class="sublist-item"><a href="#">战略销售</a></div>
            </div>
          </div>
          <div class="list-item">
            <a>业务培训审计</a>
            <div class="item-sublist">
              <div class="sublist-item checked"><a href="#">新升合伙人培训</a></div>
              <div class="sublist-item"><a href="#">高管关系掌控</a></div>
              <div class="sublist-item"><a href="#">战略思维</a></div>
              <div class="sublist-item"><a href="#">战略销售</a></div>
            </div>
          </div>
        </div>
      </div>
      <div class="train-list-right">
        <div class="list-table">
          <table border="0" cellpadding="0" cellspacing="0">
            <tr>
              <td>信永中和集团贯彻落实十九大
                报告学习交流会</td>
              <td>合伙人-业务培训（审计）</td>
              <td>主讲人：王军</td>
              <td>课程日期：2018-3-10  9:00 </td>
              <td><a href="#">回顾培训</a></td>
            </tr>
            <tr>
              <td>信永中和集团贯彻落实十九大
                报告学习交流会</td>
              <td>合伙人-业务培训（审计）</td>
              <td>主讲人：王军</td>
              <td>课程日期：2018-3-10  9:00 </td>
              <td><a href="#">回顾培训</a></td>
            </tr>
            <tr>
              <td>信永中和集团贯彻落实十九大
                报告学习交流会</td>
              <td>合伙人-业务培训（审计）</td>
              <td>主讲人：王军</td>
              <td>课程日期：2018-3-10  9:00 </td>
              <td><a href="#">回顾培训</a></td>
            </tr>
            <tr>
              <td>信永中和集团贯彻落实十九大
                报告学习交流会</td>
              <td>合伙人-业务培训（审计）</td>
              <td>主讲人：王军</td>
              <td>课程日期：2018-3-10  9:00 </td>
              <td><a href="#">回顾培训</a></td>
            </tr>
            <tr>
              <td>信永中和集团贯彻落实十九大
                报告学习交流会</td>
              <td>合伙人-业务培训（审计）</td>
              <td>主讲人：王军</td>
              <td>课程日期：2018-3-10  9:00 </td>
              <td><a href="#">回顾培训</a></td>
            </tr>
            <tr>
              <td>信永中和集团贯彻落实十九大
                报告学习交流会</td>
              <td>合伙人-业务培训（审计）</td>
              <td>主讲人：王军</td>
              <td>课程日期：2018-3-10  9:00 </td>
              <td><a href="#">回顾培训</a></td>
            </tr>
            <tr>
              <td>信永中和集团贯彻落实十九大
                报告学习交流会</td>
              <td>合伙人-业务培训（审计）</td>
              <td>主讲人：王军</td>
              <td>课程日期：2018-3-10  9:00 </td>
              <td><a href="#">回顾培训</a></td>
            </tr>
            <tr>
              <td>信永中和集团贯彻落实十九大
                报告学习交流会</td>
              <td>合伙人-业务培训（审计）</td>
              <td>主讲人：王军</td>
              <td>课程日期：2018-3-10  9:00 </td>
              <td><a href="#">回顾培训</a></td>
            </tr>
            <tr>
              <td>信永中和集团贯彻落实十九大
                报告学习交流会</td>
              <td>合伙人-业务培训（审计）</td>
              <td>主讲人：王军</td>
              <td>课程日期：2018-3-10  9:00 </td>
              <td><a href="#">回顾培训</a></td>
            </tr>
            <tr>
              <td>信永中和集团贯彻落实十九大
                报告学习交流会</td>
              <td>合伙人-业务培训（审计）</td>
              <td>主讲人：王军</td>
              <td>课程日期：2018-3-10  9:00 </td>
              <td><a href="#">回顾培训</a></td>
            </tr>
            <tr>
              <td>信永中和集团贯彻落实十九大
                报告学习交流会</td>
              <td>合伙人-业务培训（审计）</td>
              <td>主讲人：王军</td>
              <td>课程日期：2018-3-10  9:00 </td>
              <td><a href="#">回顾培训</a></td>
            </tr>

          </table>

        </div>
      </div>
    </div>
  </div>

  <div class="clearfix"></div>
</div>
@@include('footer.html', {"title": "home"})
